<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fish!!</title>
</head>
<body>
    <form class="classifyFish" action="/classifyFish" method="POST">
        <input type="text" name="weight" placeholder="weight">
        <input type="text" name="length1" placeholder="length1">
        <input type="text" name="length2" placeholder="length2">
        <input type="text" name="length3" placeholder="length3">
        <input type="text" name="height" placeholder="height">
        <input type="text" name="width" placeholder="width">
        <input class="submitBtn" type="Submit">
    </form>
</body>
</html>